<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
  <strong>Total amount pledged:</strong>
  $<%= @user.pledges.sum(:amount) %>
<p>

</p>

<h2>Backed projects</h2>
<% @user.backed_projects.each do |project|  %>
  <%= render project %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
