<%= content_tag_for(:article, project, class: "project") do %>
  <%= link_to project.name, "/projects/#{project.id}", class: "name" %>
  <div class="description"><%= project.description %></div>
  <div class="funding_goal"><%= project.funding_goal %></div>
  <div class="dates"><%= project.start_date.strftime("%b %d, %Y") %> - <%= project.end_date.strftime("%b %d, %Y") %></div>
  <div class="tags">Tags: <%= project.tag_list %></div>
<% end %>
