<h1>Project Details View</h1>
<% if current_user.backed_projects.include? @project %>
  You have donated to this project
<% end %>
<div>
  ID: <%= @project.id %>
</div>
<div>
  Name: <%= @project.name %>
</div>
<div>
  Category: <%= @project.category.name if @project.category %>
</div>
<div>
  Description: <%= @project.description %>
</div>
<div>
  Funding Goal: <%= @project.funding_goal %>
</div>
<div>
  Start Date: <%= @project.start_date.strftime("%b %d, %Y") %>
</div>
<div>
  End Date: <%= @project.end_date.strftime("%b %d, %Y") %>
</div>
<div>
  <strong>Days left before project end date: </strong>
  <span id="days-until-deadline"><%= @project.days_until_project_deadline %></span>
</div>
<div>
  <strong>Total amount raised:</strong>
  <span id="amount_raised">
  $ <%= @project.amount_raised %>
  </span>
</div>

<h3>Project Rewards</h3>

<ul>
  <% @project.rewards.each do |reward| %>
  <li><strong>Name:</strong> <%= reward.name %></li>
  <li><strong>Description:</strong> <%= reward.description %></li>
  <li><strong>Amount:</strong> <%= reward.amount %></li>
  <li><strong>Backer Limit:</strong> <%= reward.backer_limit %></li>
  <li>
   <%= form_for [@project, reward, reward.pledges.build], remote: true do |f| %>
     <%= f.submit %>
   <% end %>
 </li>
  <% end %>
</ul>

