<div class="row">
  <div class="small-8 columns">


<h1>Project Details View</h1>
<% if current_user && (current_user == @project.owner) %>
<%= link_to "Edit this project", edit_project_path %>
<% end %>
<div class="panel project-details-card">
<div id="has_backed_project">
<%= render 'message' %>
</div>
<div>
  Owner: <%= @project.owner.full_name if @project.owner %>
</div>
<div>
  ID: <%= @project.id %>
</div>
<div>
  Name: <%= @project.name %>
</div>
<div>
  Category: <% if @project.category %><%= link_to @project.category.name, @project.category %><% end %>
</div>
<div>
  Description: <%= @project.description %>
</div>
<div>
  Funding Goal: <%= number_to_currency(@project.funding_goal) %>
</div>
<div>
  Start Date: <%= @project.start_date.strftime("%b %d, %Y") %>
</div>
<div>
  End Date: <%= @project.end_date.strftime("%b %d, %Y") %>
</div>
<div>
  Tags: <%= raw @project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</div>
<div>
  <strong>Days left before project end date: </strong>
  <span id="days-until-deadline"><%= @project.days_until_project_deadline %></span>
</div>
<div>
  <strong>Total amount raised:</strong>
  <span id="number_to_currency(amount_raised)">
  $ <%= @project.amount_raised %>
  </span>
</div>

</div>

<h3>Project Rewards</h3>

<dl id="project-reward-list">
  <% @project.rewards.each do |reward| %>
  <div class="project-reward">
  <dt><strong>Name:</strong></dt><dd><%= reward.name %></dd>
  <dt><strong>Description:</strong></dt><dd><%= reward.description %></dd>
  <dt><strong>Amount:</strong></dt><dd><%= number_to_currency(reward.amount) %></dd>
  <dt><strong>Backer Limit:</strong></dt><dd><%= reward.backer_limit %></dd>
  
   <%= form_for [@project, reward, reward.pledges.build], remote: true do |f| %>
     <%= f.submit 'Pledge', class: "button small" %>
   <% end %>
 
 </div>
  <% end %>
</dl>




  </div>
  <div class="small-4 columns sidebar">
    <h3>Comments</h3>

<div id="comment-list">
  <%= render :partial => 'comments' %>
</div>

<% if current_user %>
  <h4>New Comment</h4>

  <%= render 'newcomment' %>

<% else %>
  <p>Please <%= link_to "log in", new_user_session_path %> to add a comment.</p>
<% end %>

<div id="comment-form-errors">
  <%= render :partial => "/projects/comment_form_errors" %>
</div>
  </div>
</div>
