<h1>Project Details View</h1>
<% if current_user && (current_user == @project.owner) %>
<%= link_to "Edit this project", edit_project_path %> |
<% end %>
<%= link_to "Back to projects list", projects_path %>
<% if (current_user != nil) && (current_user.backed_projects.include? @project) %>
   You have donated to this project
<% end %>
<div>
  Owner: <%= @project.owner.full_name if @project.owner %>
</div>

<div>
  ID: <%= @project.id %>
</div>
<div>
  Name: <%= @project.name %>
</div>
<div>
  Category: <%= @project.category.name if @project.category %>
</div>
<div>
  Description: <%= @project.description %>
</div>
<div>
  Funding Goal: <%= @project.funding_goal %>
</div>
<div>
  Start Date: <%= @project.start_date.strftime("%b %d, %Y") %>
</div>
<div>
  End Date: <%= @project.end_date.strftime("%b %d, %Y") %>
</div>
<div>
  Tags: <%= raw @project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</div>
<div>
  <strong>Days left before project end date: </strong>
  <span id="days-until-deadline"><%= @project.days_until_project_deadline %></span>
</div>
<div>
  <strong>Total amount raised:</strong>
  <span id="amount_raised">
  $ <%= @project.amount_raised %>
  </span>
</div>

<h3>Project Rewards</h3>

<ul>
  <% @project.rewards.each do |reward| %>
  <li><strong>Name:</strong> <%= reward.name %></li>
  <li><strong>Description:</strong> <%= reward.description %></li>
  <li><strong>Amount:</strong> <%= reward.amount %></li>
  <li><strong>Backer Limit:</strong> <%= reward.backer_limit %></li>
  <li>
   <%= form_for [@project, reward, reward.pledges.build], remote: true do |f| %>
     <%= f.submit %>
   <% end %>
 </li>
  <% end %>
</ul>

<h3>Comments</h3>

<div id="comment-list">
  <%= render :partial => 'comments' %>
</div>

<% if current_user %>
  <h4>New Comment</h4>

  <%= render 'newcomment' %>

<% else %>
  <p>Please <%= link_to "log in", new_user_session_path %> to add a comment.</p>
<% end %>

<div id="comment-form-errors">
  <%= render :partial => "/projects/comment_form_errors" %>
</div>

